body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    color:#333;
}

header{
    background:#0d6efd;
    color:white;
    padding:20px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 10px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:40px 20px;
}

.hero img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #0d6efd;
}

footer{
    text-align:center;
    padding:15px;
    background:#0d6efd;
    color:white;
    margin-top:30px;
}
.hero{
    animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

nav a:hover{
    color:yellow;
    transition:0.3s;
}

button:hover{
    background:#0056b3;
    color:white;
    cursor:pointer;
    transition:0.3s;
}
